:root{
    --input_border_color: rgba(100, 108, 255, .5);
    --label_text_color: rgba(110, 231, 183, .9);
}

p{
    margin: 0;
}

.form{
    border-radius: 2rem;
    padding: 2em;
    background: rgba(0, 0, 0, .5);
    height: auto;
    display: grid;
    grid: repeat(5, auto) / repeat(2, 1fr);
    gap: .5rem;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
}

.labelDescription{
    opacity: 5px;
    color: var(--label_text_color);
    font-weight: 600;
}

.fieldContainer > input{
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 2px solid var(--input_border_color);
    background: none;
    width: 100%;
    height: 2.75em;
    border-radius: .5rem;
    padding: .5rem;
    font-size: .9rem;
}

.fieldContainer > input::placeholder{
    opacity: 10px;
}

.fieldContainer > input:-webkit-autofill,
.fieldContainer > input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.userMessage{
    color: tomato;
    font-size: x-small;
}

.btnSubmit{
    grid-column: 1 / 3;
    border: none;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    outline: 1px solid var(--label_text_color);
    justify-self: center;
    margin: .75rem 0 0 0;
    padding: .5rem;
    width: 10rem;
    border-radius: 1.5rem;
}

.btnSubmit:hover{
    transition: all .05s ease;
    font-size: 1.05rem;
    outline: 3px solid var(--label_text_color);
}