* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  background-color: rgb(41, 41, 41);
  min-width: 320px;
  min-height: 100vh;
  color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}